div(style="position: fixed;top: 200px;right: 0;background: #2196F3;color: #fff;padding: 0 3px;border-radius: 4px 0 0 5px;font-size: .75rem")
	span.d-inline.d-sm-none xs
	span.d-none.d-sm-inline.d-md-none sm
	span.d-none.d-md-inline.d-lg-none md
	span.d-none.d-lg-inline.d-xl-none lg
	span.d-none.d-xl-inline xl

script(src='assets/templates/default/js/scripts.min.js')
