meta(charset='utf-8')
// <base href="/">
title OptimizedHTML 4
meta(name='description', content='')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
// Template Basic Images Start
meta(property='og:image', content='assets/templates/default/path/to/image.jpg')
link(rel='shortcut icon', href='assets/templates/default/img/favicon/favicon.ico', type='image/x-icon')
link(rel='apple-touch-icon', href='assets/templates/default/img/favicon/apple-touch-icon.png')
link(rel='apple-touch-icon', sizes='72x72', href='assets/templates/default/img/favicon/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='114x114', href='assets/templates/default/img/favicon/apple-touch-icon-114x114.png')
// Template Basic Images End
// Custom Browsers Color Start
meta(name='theme-color', content='#f97c17')
// Custom Browsers Color End
link(rel='stylesheet', href='assets/templates/default/css/style.min.css')
