doctype html
html(lang='ru')
	head
		include chunks/common/head.pug
	body
		// 
		.container
			.row
				.col-xs-12.col-sm-8.col-md-6.col-lg-4.bkg
					.box lorem
				.col-xs-12.col-sm-8.col-md-6.col-lg-4.bkg
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam illo qui voluptatibus ratione magni consequatur ducimus. Soluta vel esse expedita! Ab, suscipit aut omnis vel voluptatum ipsum sapiente laboriosam aperiam.
				.col-xs-12.col-sm-8.col-md-6.col-lg-4.bkg
					.box Responsive
			br
			br
			br
			br
			.row.middle-xs
				.col-xs lorem
				.col-xs
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae similique nemo quo quod mollitia suscipit autem odit modi possimus obcaecati adipisci blanditiis, dolor soluta voluptates ut officia eveniet repellendus impedit?
				.col-xs lorem
				.col-xs
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam iure qui reprehenderit facilis ad aspernatur, iste quis rem tempora dolor enim explicabo, temporibus alias rerum quod itaque nemo quasi minima.
				.col-xs lorem
		include chunks/common/footer.pug
