doctype html
html(lang='ru')
	head
		include chunks/common/head.pug
	body
		.container
			.row
				.col-12
					h1 Title
				.col-4
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque reprehenderit voluptatem autem maiores repellat ratione recusandae asperiores. Sint reiciendis dignissimos reprehenderit deleniti modi repellendus recusandae nemo, odio unde tempore necessitatibus.
				.col-4
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod unde minima molestiae reiciendis, facere porro odio! Nesciunt earum omnis placeat repudiandae labore nulla impedit? Sequi quia officiis reprehenderit non?
				.col-4
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit maiores eligendi modi, quam quasi iusto nostrum expedita accusantium fugit eum, neque minus adipisci nisi ut omnis possimus! Nemo, dolore, accusantium.

				.col-6
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quo vero molestias, esse doloribus corrupti, nemo minus ullam tempore tenetur magni aut quos soluta sit adipisci eius expedita amet non.
				.col-6
					p Odit enim harum minus nam excepturi quae vitae consectetur repudiandae natus neque ab asperiores repellat quo dicta vel accusamus voluptatum rerum autem eaque rem laudantium, sint veritatis. Minus, unde rem.

		include chunks/common/footer.pug
