doctype html
html(lang='ru')
	head
		block head
			include chunks/common/head.pug
	body
		block header
			include chunks/common/header.pug
		// 
		.container
			.row
				.col-xs-12.col-sm-8.col-md-6.col-lg-4.bkg
					.box lorem
				.col-xs-12.col-sm-8.col-md-6.col-lg-4.bkg
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam illo qui voluptatibus ratione magni consequatur ducimus. Soluta vel esse expedita! Ab, suscipit aut omnis vel voluptatum ipsum sapiente laboriosam aperiam.
				.col-xs-12.col-sm-8.col-md-6.col-lg-4.bkg
					.box Responsive

		include chunks/common/footer.pug
