@import "vars"
@import "fonts"
@import "libs"
@import "abbreviation"
@import "_mixins/font-saze"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 22px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green


.text-center
	text-align: center

b, strong
	font-weight: bold


@import "media"
